body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    160deg,
    rgba(18, 18, 18, 1) 0%,
    rgba(69, 203, 116, 1) 100%
  );
}

.container {
  padding: 2rem;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}
